<div class="author">
    <h1 class="author_heading">Hi, I am Shivs</h1>
    <p class="author_para">Flutter developer and backend developer</p>
</div>

<section class="articles">
    <h1 class="articles_heading">Latest Posts</h1>
    <ul>
        <li>
            <a href="#">
                <span>Post title</span>
                <span >Post Date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Older posts</a>
</section>

